<div class="card pokemon-main-card">
    <div class="detail-glow type-glow-{{ pokemon.types|first }}"></div>
    
    <div class="main-card-header">
        <span class="detail-pokemon-id">#{{ "%03d"|format(pokemon.species_id) }}</span>
        <span id="shiny-toggle" title="Shiny"
            style="cursor: pointer; opacity: 0.3; transition: opacity 0.3s;"
        >
            <i class="fa-solid fa-star shiny-star"></i>
        </span>
    </div>

    <div class="detail-artwork-container">
        <img id="pokemon-artwork" 
            src="{{ pokemon.sprite_official }}" 
            data-normal="{{ pokemon.sprite_official }}" 
            data-shiny="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/{{ pokemon.id }}.png" 
            alt="{{ pokemon.name|abbr_pokemon_name }}" 
            class="detail-artwork"
        >
    </div>

    <h1 class="detail-pokemon-name">{{ pokemon.name|abbr_pokemon_name }}</h1>

    <div class="detail-pokemon-types">
        {% for type in pokemon.types %}
            {% include 'partials/type_badge.html.twig' with {'type': type, 'typeDetails': typeDetails} %}
        {% endfor %}
    </div>

    {% if pokemon.varieties is not empty %}
        <div class="variety-selector">
            <a href="{{ path('app_pokemon_detail', { name: pokemon.default_variety_name|default(pokemon.species_name) }) }}" 
               class="variety-btn {{ pokemon.name == pokemon.species_name or pokemon.name == pokemon.default_variety_name ? 'active type-bg-' ~ pokemon.types|first : '' }}">
                {{ pokemon.default_display_name|default('Padrão') }}
            </a>
            {% for variety in pokemon.varieties %}
                <a href="{{ path('app_pokemon_detail', { name: variety.name }) }}" 
                   class="variety-btn {{ pokemon.name == variety.name ? 'active type-bg-' ~ pokemon.types|first : '' }}">
                    {{ variety.name|abbr_variety_name(pokemon.species_name) }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
