{% extends 'base.html.twig' %}

{% block title %}PokeFlaton | Movesets de Pokémons
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
	<section class="landing-hero">
		<div class="landing-hero-glow"></div>
		<h1 class="hero-title">Encontre os Melhores
			<span class="highlight">Movesets</span>
		</h1>
		<p class="hero-subtitle">Crie, compartilhe e explore as melhores combinações de golpes, natures, habilidades e localizações manuais de captura para a 1ª Geração de Pokémon.</p>

		<div class="landing-search-container">
			<form action="{{ path('app_pokemon_index') }}" method="GET" class="search-form">
				<div class="search-box" style="position: relative;">
					<input type="text" id="global-search-input" name="q" placeholder="Buscar Pokémon por nome ou número..." class="search-input" required autocomplete="off">
					<i class="fa-solid fa-magnifying-glass search-icon"></i>
					<div id="search-autocomplete-results" class="autocomplete-dropdown"></div>
				</div>
			</form>
		</div>
	</section>

	<!-- Cards -->
	<section class="landing-features-grid">
		<div class="feature-card">
			<div class="feature-card-glow"></div>
			<div class="feature-icon-wrapper">
				<i class="fa-solid fa-shield-halved"></i>
			</div>
			<h3 class="feature-title">Movesets</h3>
			<p class="feature-desc">Crie e explore as melhores combinações de golpes paras os Pokémons.</p>
		</div>

		<div class="feature-card">
			<div class="feature-card-glow"></div>
			<div class="feature-icon-wrapper">
				<i class="fa-solid fa-bag-shopping"></i>
			</div>
			<h3 class="feature-title">Builds Completas</h3>
			<p class="feature-desc">Sugira a combinação ideal de Held Item, Nature recomendada e Habilidade para potencializar seu Pokémon.</p>
		</div>

		<div class="feature-card">
			<div class="feature-card-glow"></div>
			<div class="feature-icon-wrapper">
				<i class="fa-solid fa-location-dot"></i>
			</div>
			<h3 class="feature-title">Localizações</h3>
			<p class="feature-desc">Cadastre e encontre onde achar seus Pokémon favoritos.</p>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<div id="global-search-data" style="display: none;" data-url-search="{{ path('api_pokemon_search') }}"></div>
	<script src="{{ asset('js/pokemon-search.js') }}"></script>
{% endblock %}
